<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-5">
          <h1>Погода в вашем городе</h1>
          <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="send" value="Проверить" class="mt-2 btn btn-danger">
          </form>
        </div>
        <div class="col-4 offset-1">
          {% if error %}
            <h3 style="color: red;">{{ error }}</h3>
          {% else %}
          <h3>Город:</h3>
          <ul>
          {{ info.city }}
          </ul>
          <h3>Прогноз на 5 дней:</h3>
          {% for data in info.data %}
          <ul>
          <h8>Дата: {{ data.datetimeStr }}</h8><br>
          <h8>Температура: {{ data.temp }}</h8><br>
          <h8>Условия: {{ data.conditions }}</h8><br>
          <hr>
          </ul>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
